@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
font-family: 'Josefin Sans',sans-serif;
height: 1200px;
background-color: rgba(247, 207, 207, 0.288);
}
.navbar-default{
    background-color: #fff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form{
    padding-bottom: 8px;
    padding-top: 5px ;
    
}
.form-control{
    border-radius: 100px;
    padding: 20px 80px;
    font-size: 18px;
    font-weight: 200;
    border: 1px solid #f1f1f1;
}
.flex{
display: flex;
justify-content: center;
    color:black;
margin-bottom: 10px;
position:sticky;
top: 0;
z-index: 1;
background-color: rgb(255, 255, 255);

}
.nav-pills li a{
    color: rgb(99, 66, 66);
    font-weight: 600;
    font-size: 18px;
}
.nav-pills li a:hover {
    color: red;
    background-color: #fff;
}
.navbar-default{
border-color: #fff;
}


/*---------------------------second carousl----------------------------------------*/

/* carousel */
.media-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}

/* Previous button  */
.media-carousel .carousel-control.left {
    left: -12px;
    background-image: none;
    height: 80px;
    width: 80px;
    margin-top: 30px;
    color: #000000;
    
}

/* Next button  */
.media-carousel .carousel-control.right {
    right: -12px !important;
    background-image: none;
    height: 80px;
    width: 80px;
    margin-top: 30px;
        color: #000000;

}

/* Changes the position of the indicators */
.media-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li {
    background: #c0c0c0;
}

.media-carousel .carousel-indicators .active {
    background: #333333;
}

.media-carousel img {
    width: 200px;
    height: 300px
}

#carousel-example-generic{
    margin-bottom: 80px;
}


/* End carousel */


/*---------------------------second carousl----------------------------------------*/

.row h2{
    text-align: center;
}

.card{
    background-color: #fff;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
}
.card a img{
    padding-top: 10px;
}
.rating{
    color: rgb(255, 123, 0);
}
.card:hover{
    opacity: .8;
    color: #e71818;
}

/*---------------------------second carousl----------------------------------------*/
#back-top{
    background: #FF1616;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border:2px solid transparent;
    box-shadow: 0 0 10px 3px rgb(108 98 98 / 20%);
}
/*featured section*/
.featured-design{
    margin-top: 100px;
    background-color: #fff;
    width: 100%;
    padding: 50px;
}
.featured-crausel {
    background-color: #e71818;
}
.flex-container{
    display: flex;
}

.featured-img {
    padding: 29px 20px 29px 80px;
}

.browse-btn{
    font-weight: 500;
    font-size: 16px;
    position: relative;
    display: inline-block;
    color: rgb(26, 26, 26) !important;
}
.carousel-caption{
    
}
/*featured section*/