@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
font-family: 'Josefin Sans',sans-serif;
height: 1200px;
background-color: rgba(247, 207, 207, 0.288);
}
.navbar-default{
    background-color: #fff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form{
    padding-bottom: 8px;
    padding-top: 5px ;
    
}
.form-control{
    border-radius: 100px;
    padding: 20px 80px;
    font-size: 18px;
    font-weight: 200;
    border: 1px solid #f1f1f1;
}
.flex{
display: flex;
justify-content: center;
    color:black;
margin-bottom: 10px;

}
.nav-pills li a{
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.nav-pills li a:hover {
    color: red;
    background-color: #fff;
}
.navbar-default{
border-color: #fff;
}